@import "../common";
.worksDetail{
  background-color: #ffffff;
  padding: 120px 0 60px;
  &__title {
    font-size: $regular-font;
    font-weight: $semi-bold;
    padding-bottom: 40px;
  }
  &__pictures_list{
    display: flex;
    flex-flow: column;
    gap: 30px;
    li{
      position: relative;
      background-color: #eeeeee;
      height: calc(90vw * 0.6);
      width: 100%;
      .images {
        padding: 5%;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .video{
        padding: 5%;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width:$blake-point) {
  .worksDetail {
    &__title{
      font-size: $regular-font-s;
      // padding-bottom: 30px;
    }
    &__pictures_list {
      gap: 20px;
    }
  }
}
