@import "../common";
.worksDetail{
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  padding: 12vh $side_padding 5vmax $side_padding;
  h1{
    font-weight: $semi-bold;
    // font-size: 18pt;
    font-size: 1.5vmax;
    margin-bottom: 1.5em;
  }
  .pictures_list{
    display: block;
    li{
      position: relative;
      margin: 0 auto;
      background-color: #eeeeee;
      margin-bottom: 5%;
      // height: 100vh;
      height: calc(90vw * 0.6);
      width: 100%;
      img {
        position: absolute;
        height: 86%;
        width: 86%;
        top: calc( 50% - 86%/2);
        left: calc( 50% - 86%/2);
        object-fit: contain;
      }
      
    }
  }
}

@media screen and (max-width:$blake-point) {
  .worksDetail {
    padding-top: 8vh;
    h1{
      font-size: $regular-font-s;
    }
  }
}
