@import "../common";

.contact {
  position: relative;
  padding: $grid*4 0;
  &__back{
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    width: $grid*6;
    height: $grid*6
  }
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    .triangle {
      width: 8px;
    }
    a {
      font-family: $en-font-medium;
      font-size: $regular-font;
      letter-spacing: 0.075em;
      transition: 0.2s ease-in-out;
    }
    a:hover{
      color: $orange;
    }
  }
  &__back:hover{
    .triangle{
      animation:bound 0.3s ease-in infinite alternate;
    }
    @keyframes bound {
      0%{transform: translateY(0);}
      100%{transform: translateY(5px);}
    }
  }
}
