@import "../common";

.menu_list {
  position: fixed;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: calc($grid*2);
  width: $grid*10;
  .menu_item a {
    font-size: $regular-font;
    font-family: $en-font-medium;
    transition: 0.2s ease-out;
  }

  .to_top:hover {
    color: $green;
  }

  .to_profile:hover {
    color: $pink-red;
  }

  .to_works:hover {
    color: $blue;
  }

  .to_contact {
    color: $orange;
  }
}

@media screen and (max-width:$blake-point) {
  .menu_list .menu_item a{
    font-size: $regular-font-s;
  }
}
@media screen and (max-width:460px){
  .menu_list{
    width: 100%;
    gap: 40px;
  }
}