@import "../common";

.firstView {
  position: relative;
  height: 100vh;
  width: auto;
  .title {
    opacity: 1;
    display: flex;
    justify-content: center;
    mix-blend-mode: overlay;
    padding-top: 20%;
  }
  .scroll{
    position: absolute;
    right: 32px;
    bottom: 15vh;
  }
  }

@media screen and (max-width: $blake-point) {
  .firstView {
    height: 100vh;
    .title{
      padding-top: 25%;
    // transform: translateX(-50%, -50%);
    // margin-bottom: 50vh;
    }
    .scroll{
      position: absolute;
      right: 50%;
    }
  }
}

@media screen and (max-width: 500px) {
  .firstView{
    .title{
      padding-top: 35%;
    }
  }
}