@import "../common";

.profile {
  &__box {
    background-color: white;
    width: calc(100vw - $grid*8);
    min-width: $blake-point;
    max-width: calc(1280px - $grid*8);
    margin: 30vh auto;
    padding: 120px 90px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }
    &__text_narrow{
      display: none;
    }
    &__text_wide{
      img{
        height: $regular-font;
        margin-bottom: $regular-font*2;
      }
      img:last-child{
        margin-bottom: 0;
      }
    }
  
  &__button{
    align-self: flex-end;
    transition: 0.15s ease-out;
    text-align: right;
    position: relative;
    width: 200px;
    padding: 10px 0;
    font-family: $en-font-medium;
    font-size: $regular-font;
    letter-spacing: 0.025em;
  }
  &__button::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 5em;
    border: 0.5px solid ;
    width:90px;
  }
  &__button:hover {
    color: $pink-red;
  }
}

@media screen and (max-width: $blake-point) {
  .profile {
    &__box {
      padding: 120px 80px 100px;
      min-width: 100%;
      row-gap: 80px;
    }
    &__text_wide img{
      height: $regular-font-s;
    }
    &__button{
      font-size: $regular-font-s;
    }
  }
}

@media screen and (max-width:$blake-point-min){
  .profile {
    &__box {
      padding: 100px 8vw;
    }
    &__text_wide {
      display: none;
    }
    &__text_narrow {
      display: block;
      img {
        height: $regular-font-s;
        margin-bottom: $regular-font-s*3;
      }
      img:last-child {
        margin-bottom: 0;
      }
    }
  }
}