@import "../common";
  .scroll {
    &__arrow{
      display: flex;
      flex-direction: column;
      align-items: center;
      &__arrow {
        padding-bottom: 20px;
        width: 10px;
        img:first-of-type{
          padding-bottom: 5px;
          animation: bound 0.3s ease-in infinite alternate;
          @keyframes bound {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(3px);
            }
          }
        }
      }
      &__text {
        font-family: $en-font-medium;
        font-size: $regular-font;
        line-height: 1;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
      }
    }
  }

@media screen and (max-width: $blake-point) {
  .scroll__text{
    font-size: $mini-font-s;
  }
}