@import "../common";
.title{
  white-space: nowrap;
    // opacity: 1;
    // display: flex;
    // justify-content: center;
    // mix-blend-mode: overlay;
    // transform: scale(1);

  img {
    display: inline;
    height: 10vmax;
    opacity: 0;
  }
  .family_name{
    // padding-bottom: 34px;
    padding-bottom: 6.6%;
    img:nth-of-type(1){
      // padding-right: 4px;
      padding-right: 0.6%;
    }
    img:nth-of-type(2){
      // padding-right: 9px;
      padding-right: 1.4%;
    }
    img:nth-of-type(3) {
      // padding-right: 7px;
      padding-right: 1.6%;
    }
    img:nth-of-type(4) {
      // padding-right: 10px;
      padding-right: 2%;
    }
  }

  .first_name{
    // padding-bottom: 46px;
    padding-bottom: 9%;
    img:nth-of-type(1){
      // padding-right: 2px;
      padding-right: 0.3%;
    }
    img:nth-of-type(2) {
      // padding-right: 6px;
      padding-right: 1.2%;
    }
    img:nth-of-type(3) {
      // padding-right: 4px;
      padding-right: 0.6%;
    }
    img:nth-of-type(4) {
      // padding-right: 10px;
      padding-right: 2%;
    }
    img:nth-of-type(5) {
      // padding-right: 3px;
      padding-right: 0.5%;
    }
    
  }
  .sub_title{
    position: relative;
    margin: 0;
    height: 3.5vmax;
    width: 40.2vmax;
    overflow: hidden;
    .mask{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #444444;
      // background-image: linear-gradient(
      //   to right,
      //   #444444 50%,
      //   #ffffff 50%
      // );
      width: 31.3vmax;
      height: 3.5vmax;
      transform: translateX(-101%);
    }

    img{
      height: 2.5vmax;
      // padding-right: 24px;
      
    }img:nth-of-type(1) {
      // padding-right: 22px;
      padding-right: 4.2%;
    }
    img:nth-of-type(2) {
      // padding-right: 22px;
      padding-right: 4.5%;
    }
    img:nth-of-type(3) {
      // padding-right: 22px;
      padding-right: 4.2%;
    }
    img:nth-of-type(4) {
      // padding-right: 21px;
      padding-right: 4%;
    }
    img:nth-of-type(5) {
      // padding-right: 22px;
      padding-right: 4%;
    }
    img:nth-of-type(6) {
      // padding-right: 22px;
      padding-right: 4%;
    }
    img:nth-of-type(7) {
      // padding-right: 15px;
      padding-right: 2.8%;
    }
    img:nth-of-type(8) {
      // padding-right: 16px;
      padding-right: 3%;
    }
  }
}