@import "../common";
.works{
  background-color: #ffffff;
  z-index: 10;
  padding: 180px 0;
  &__list{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: $blake-point) {
  .works{
    padding: 100px 0;
    &__list{
      grid-template-columns: 1fr;
    }
  }
}
