$green: #00a88f;
$pink-red: #ea617b;
$yarrow: #f3ed5e;
$blue-green: #5fc1c7;
$orange: #f8b430;
$purple: #c04a88;
$yarrow-green: #c8de88;
$blue: #0050a4;
$grid: 46px;
$triangle: 6px;
$side_padding:10%;

$normal:400;
$semi-bold:600;
$jp-font:"toppan-bunkyu-gothic-pr6n";
$en-font:"HelveticaNeue";
$en-font-medium:"HelveticaNeue-Medium";

$large-font:2.4rem;
$regular-font:1.6rem;
$mini-font:1.2rem;

$blake-point:768px;
$blake-point-min:$grid*10;

$large-font-s:2rem;
$regular-font-s:1.4rem;
$mini-font-s:1.2rem;

$vw:1;

.container {
  width: 86vw;
  margin: 0 auto;
}